:root{
    --back_color: #3D1FA6;
    
    --box_color1: #4F22F2;
    --box_color2: #1c2431;
    --box_color3: #151b29;    

    
    --alt_color1: #643DF2;
    --alt_color2: #6451ce;
    --alt_color3: #30324d;

    --text_color1: #b3edfb;
    --text_color2: #C7BBF2;
}

@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unquoted_text{font-family: 'Anuphan', sans-serif; font-weight: 400;}
.quotes_text{font-family: 'Roboto Slab', serif; font-family: 400;}
